RewriteEngine On
RewriteBase /Planning/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} ^(CONNECT|DEBUG|DELETE|MOVE|PUT|GET|POST|TRACE|TRACK)
RewriteRule ^(.+)$ indexdev.php [QSA,L]