#calendar-container{
    width: 1200px;
}
.card-planning{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    width: 400px;
    height: 300px;
    margin-left: 45px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 2%;
    padding-left: 10px;
    padding-right: 5px;
}

.info{
   
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 2%;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 15px;
}

.color-container-medic{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    width: 15%;
    height: 25px;
    text-align: center;
    color: azure;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #EF9595;
}
.color-container-perso{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    width: 15%;
    height: 25px;
    text-align: center;
    color: azure;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #A2C579;
}
.color-container-cp{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    width: 15%;
    height: 25px;
    text-align: center;
    color: azure;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #61A3BA;
}
.color-container-autre{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    width: 15%;
    height: 25px;
    text-align: center;
    color: azure;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #DFD3C3;
}
.flatpickr-disabled  {
    background-color: red !important;
    color: white !important;
}

/* CSS pour désactiver le scroll vertical du calendrier */
.fc-scroller {
    overflow-y: hidden !important;
}

.hidden-debut{
    display: none;
}

.nav-space{
    margin-top: 5%;
}
@media (max-width:1100px) {
    .nav-space{
        margin-top: 18%;
    }
}

/* CSS pour étendre le calendrier sur toute la longueur */
.fc-view {
    height: 100% !important;
}

.fc-month-view {
    height: auto !important;
}



#global-wrapper{
    height: 100vh; 
    width: 100% !important;
}


#calendar {
    height: 100vh !important; /* Utilisation de !important pour s'assurer que cette règle a la priorité */
    overflow: hidden; /* Optionnel : pour masquer tout débordement éventuel */
}
.fc {
    font-size: 13px; /* Taille du texte pour les smartphones *//* Texte plus gras pour les smartphones */
    cursor: pointer;
}

@media (max-width: 768px) {
    /* Styles spécifiques pour les écrans de taille maximale de 768 pixels (ajustez selon vos besoins) */
    .fc {
        font-size: 11px; /* Taille du texte pour les smartphones */
        font-weight: bold; /* Texte plus gras pour les smartphones */
        cursor: pointer;
    }
    .main{
        width: 100% !important;
    }

    .fc-toolbar-title{
        font-size: 12px !important; /* Taille du texte pour les smartphones */
        font-weight: bold; /* Texte plus gras pour les smartphones */
    }
    .info{
        font-size: 10px; /* Taille du texte pour les smartphones */
        font-weight: bold; 
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 10px;
        padding-right: 5px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
  }